<div class="controls-container">
  <button (click)="onClickPlay()" [disabled]="disabled.play">Play</button>
  <button (click)="onClickNext()" [disabled]="disabled.next">Next</button>
  <button (click)="onClickStop()" [disabled]="disabled.stop">Stop</button>
  <button (click)="onClickClear()" [disabled]="disabled.clear">Clear</button>
  <!-- TODO: hook up later -->
  <select [disabled]="disabled.seed">
    <option selected>Select seed</option>
    <option *ngFor="let initSeed of initialSeeds" [value]="initSeed">{{initSeed}}</option>
  </select>
</div>
