<div class="controls-container">
  <button [disabled]="controlStates.disabledPlay" (click)="onClickPlay()">Play</button>
  <button [disabled]="controlStates.disabledNext" (click)="onClickNext()">Next</button>
  <button [disabled]="controlStates.disabledStop" (click)="onClickStop()">Stop</button>
  <button [disabled]="controlStates.disabledClear" (click)="onClickClear()">Clear</button>
  <!-- seed-form class is used in control-states.class -->
  <form class="seed-form">
    <select [disabled]="controlStates.disabledSeed" (change)="onSelectChange($event)">
      <option [value]="none" selected>Select seed</option>
      <option *ngFor="let seed of initialSeeds" [value]="seed">{{seed}}</option>
    </select>
  </form>
</div>
