<div class="controls-container">
  <button [disabled]="disabled.play" (click)="onClickPlay()">Play</button>
  <button [disabled]="disabled.next" (click)="onClickNext()">Next</button>
  <button [disabled]="disabled.stop" (click)="onClickStop()">Stop</button>
  <button [disabled]="disabled.clear" (click)="onClickClear(); seedForm.reset()">Clear</button>
  <form  #seedForm>
    <select [disabled]="disabled.seed" (change)="onSelectChange($event)">
      <option [value]="none" selected>Select seed</option>
      <option *ngFor="let seed of initialSeeds" [value]="seed">{{seed}}</option>
    </select>
  </form>
</div>
