.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default; /* i think this helps prevent the cursor from changing into a text selector */
}

life-controls {
  width: 75%;
  margin-top: 1%;
}
