<div class="board-container" [ngStyle]="boardDimensionStyle">
  <ng-container *ngFor="let row of cellsStyle">
    <ng-container *ngFor="let cellStyle of row">
      <div [ngStyle]="cellStyle" (click)="updateCell($event)">
        <ng-container *ngIf="debugMode">
          {{ cellStyle['grid-row'] - 1 }},{{ cellStyle['grid-column'] - 1 }}
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- NOTE: temporary! used only to test the rules -->
<div (click)="fooRun()">FOO RUN</div>
